body {
	background-color: salmon;
}

.primer-Input{
	cursor: pointer;
}

.boton-guardar {
	display: none;
	background-color: green;
	color: white;
}

.show {
	display:block;
}

.contenedor-lista {
	
	display: inline-block;
	margin: 5px 10;
}